#lgt_sync {
	position: relative;
}

#lgt_sync .lg-progress {
	background: #ddd;
	bottom: 15px;
	width: 95%;
	height: 15px;
}

#lgt_sync .lg-progress div {
	background: #0073aa;
	height: 100%;
	width: 0;
}

#lgt_sync .spinner {
	margin-top: -3px;
}

.task-name {
	padding-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

.info {
	font-size: 18px;
	font-weight: bold;
	color: red;
	text-align: center;
}

.hcf_box {
	display: block;
	grid-template-columns: max-content 1fr;
	grid-row-gap: 10px;
	grid-column-gap: 20px;
}

.hcf_field input[type="text"] {
	width: 40%;
}

.hcf_field {
	display: block;
}

.hcf_field label:first-child {
	font-weight: bold;
	width: 40%;
	display: inline-block;
}

.hcf_field label:last-child {
	width: 20%;
}

.hcf_field.large label {
	width: 100%;
}

.hcf_box h3 {
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

.lgt_sync_form label {
	width: 20%;
	vertical-align: middle;
	display: inline-block;
	min-width: 300px;
}

/* Fix MetaBox Dropdown */
.postbox .cf-complex__inserter-menu {
	z-index: 10;
	min-width: 240px;
}

.labelgrid-tools_page_labelgrid-tools-system-logs .error_status {
	padding: 0.3em 0.8em;
    border-radius: 0.7em;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.labelgrid-tools_page_labelgrid-tools-system-logs .error_log_debug{
	background:#000;
	color:#fff; 
}

.labelgrid-tools_page_labelgrid-tools-system-logs .error_log_info{
	background:#6ff718;
	color:#000;
}

.labelgrid-tools_page_labelgrid-tools-system-logs .error_log_notice{
	background:#fdea00;
	color:#000;
}

.labelgrid-tools_page_labelgrid-tools-system-logs .error_log_warning{
	background:#f59811;
	color:#fff;
}

.labelgrid-tools_page_labelgrid-tools-system-logs .error_log_error,
.labelgrid-tools_page_labelgrid-tools-system-logs .error_log_critical,
.labelgrid-tools_page_labelgrid-tools-system-logs .error_log_alert,
.labelgrid-tools_page_labelgrid-tools-system-logs .error_log_emergency{
	background:#f50706;
	color:#fff;
}

.wp-list-table th#id { width:7%; }
.wp-list-table th#time { width:14%; }
.wp-list-table th#level { width:10%; }
.wp-list-table th#message { width:59%; }
.wp-list-table th#channel { width:10%; }